<p id="notice"><%= notice %></p>

<h1>
  <%=@time_holes.count %> Time Holes,
  <%=TimeHole.number_eggs %> Eggs,
  <%=TimeHole.number_grubs %> Grubs,
  <%=TimeHole.number_treebabs%> Tree Babs,
  <%=TimeHole.number_cocoons %> Cocoons,
  <%=TimeHole.number_trolls %> Trolls,
  <%=TimeHole.number_corrupt %> Corruption,
  <%=TimeHole.number_purified %> Purification
</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Breeder</th>
      <th>Permanent</th>
      <th>Caretaker</th>
      <th>DollString</th>
      <%TimeHole.json_keys.each do |key| %>
      <th><%=key %></th>

      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @time_holes.each do |time_hole| %>
      <tr>
        <td><%= time_hole.name %></td>
        <td><%= time_hole.breeder %></td>

        <td><%= time_hole.permanent %></td>
        <td><%=link_to time_hole.caretaker.name, caretaker_path(time_hole.caretaker) %></td>
        <td><textarea rows="3" cols="50"><%=time_hole.parsedPetJSON["dollDATAURL"] %></textarea>
          <a target="blank" href = "http://www.farragofiction.com/DollSim?<%=time_hole.parsedPetJSON["dollDATAURL"]%>">Doll</a>
        </td>
        <% TimeHole.json_keys.each do |key| %>
          <td><%=time_hole.parsedPetJSON[key] %></td>

        <% end %>

        <td><%= link_to 'Show', time_hole %></td>
        <td><%= link_to 'Edit', edit_time_hole_path(time_hole) %></td>
        <td><%= link_to 'Destroy', time_hole, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Time Hole', new_time_hole_path %>
