<p id="notice"><%= notice %></p>

<h1><%=@time_holes.count %> Time Holes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Breeder</th>
      <th>Permanent</th>
      <th>Caretaker</th>
      <%TimeHole.json_keys.each do |key| %>
      <th><%=key %></th>

      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @time_holes.each do |time_hole| %>
      <tr>
        <td><%= time_hole.name %></td>
        <td><%= time_hole.breeder %></td>

        <td><%= time_hole.permanent %></td>
        <td><%=link_to time_hole.caretaker.name, caretaker_path(time_hole.caretaker) %></td>
        <% TimeHole.json_keys.each do |key| %>
          <td style="width:100px;overflow: auto"><%=time_hole.parsedPetJSON[key] %></td>

        <% end %>

        <td><%= link_to 'Show', time_hole %></td>
        <td><%= link_to 'Edit', edit_time_hole_path(time_hole) %></td>
        <td><%= link_to 'Destroy', time_hole, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Time Hole', new_time_hole_path %>
