
<p id="notice"><%= notice %></p>


<%= link_to 'New Paldemic File', new_paldemic_file_path, :class => "new_link" %>

<div class = "votes">
  Sort By:

  <%#keep it dry %>
  <% sorts = {"Total Votes"=>"total_votes","Up Votes"=>"num_upvotes","Down Votes"=>"num_downvotes","Views"=>"num_views","Name"=>"name","Author"=>"author","File Size"=>"file_size"} %>
  <% sorts.each do |key,value| %>
    <%if params["sort"] == value && params["reverse"] != "true"  %>
      <%=link_to key ,paldemic_files_path(:sort=>value,:reverse=>"true"),:class=>"currentSort"%> |
    <%elsif params["sort"] == value  %>
      <%=link_to key ,paldemic_files_path(:sort=>value),:class=>"currentSort"%> |
    <%else %>
        <%=link_to key ,paldemic_files_path(:sort=>value)%> |
<%end %>
  <% end %>
</div>

    <% @paldemic_files.each_with_index do |paldemic_file,index| %>
      <div class = "paldemicFile">
          <div class = 'voting'>
            <%=link_to(image_tag("up.png", :class=> "upArrow"), upvote_paldemic_file_path(:id=> paldemic_file.id), :method=>"put") %>
            <div class = "voteAmount" id = "voteTotal<%=paldemic_file.id %>"><%=paldemic_file.total_votes %></div>
            <%=link_to(image_tag("down.png", :class=> "downArrow"), downvote_paldemic_file_path(:id=> paldemic_file.id),:method=>"put") %>
          </div>
          <div class = 'fileLine'>
            <%=link_to("http://www.farragofiction.com/PaldemicSim?id=#{paldemic_file.id}", target:"_blank", :class=>"fileLink"){paldemic_file.name}%>
            <div class = "description">
              <%=paldemic_file.description %>
            </div>
            <div class = "author">Posted By: <%= paldemic_file.author %>,
               <%=paldemic_file.file.size/1024 %> KB,
                <%=paldemic_file.num_views %> Views, <%=paldemic_file.num_downloads %> Downloads,
                <%= link_to 'Edit', edit_paldemic_file_path(paldemic_file) %>
              </div>


          </div>
      </div>
    <% end %>


<br>

