<script>

    $(window).load(function() {
        //since i can't actually put the data in the url, instead shove it into local storage on click before going over there
        <% @paldemic_files.each_with_index do |paldemic_file, index| %>
        //for file <%=paldemic_file.name %>
        $("#paldemicFile<%=index %>").click(function(){
            storeFile("<%=paldemic_file.file %>");
            window.location.href = "http://www.farragofiction.com/PaldemicSim/?data=inCachePreview";
        });

        <% end %>
    });

</script>
<p id="notice"><%= notice %></p>

<h1>Paldemic Files</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Author</th>
      <th>Num downloads</th>
      <th>Num upvotes</th>
      <th>Num downvotes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @paldemic_files.each_with_index do |paldemic_file,index| %>
      <tr>
        <td><%=paldemic_file.name%><button id = 'paldemicFile<%=index%>'> Preview</button> </td>
        <td><%= paldemic_file.author %></td>
        <td><%= paldemic_file.num_downloads %></td>
        <td><%= paldemic_file.num_upvotes %></td>
        <td><%= paldemic_file.num_downvotes %></td>
        <td><%= link_to 'Show', paldemic_file %></td>
        <td><%= link_to 'Edit', edit_paldemic_file_path(paldemic_file) %></td>
        <td><%= link_to 'Destroy', paldemic_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Paldemic File', new_paldemic_file_path %>
