
<p id="notice"><%= notice %></p>



  TODO:
  <li>ability to change sort by (name, downloads, views, votes, filesize)</li>
  <li>filter by keywords (author, file name, etc) (named scope?)</li>
  <li>pagination</li>
  <li>ajax voting buttons (don't update page, don't allow multple voting without refreshing)</li>

<%= link_to 'New Paldemic File', new_paldemic_file_path %>


    <% @paldemic_files.each_with_index do |paldemic_file,index| %>
      <div class = "paldemicFile">
          <div class = 'voting'>
            <%=link_to(image_tag("up.png", :class=> "upArrow"), upvote_paldemic_file_path(:id=> paldemic_file.id), :method=>"put") %>
            <div class = "voteAmount" id = "voteTotal<%=paldemic_file.id %>"><%=paldemic_file.total_votes %></div>
            <%=link_to(image_tag("down.png", :class=> "downArrow"), downvote_paldemic_file_path(:id=> paldemic_file.id),:method=>"put") %>
          </div>
          <div class = 'fileLine'>
            <%=link_to("http://www.farragofiction.com/PaldemicSim?id=#{paldemic_file.id}", target:"_blank", :class=>"fileLink"){paldemic_file.name}%>
            <div class = "description">
              <%=paldemic_file.description %>
            </div>
            <div class = "author">Posted By: <%= paldemic_file.author %>,
               <%=paldemic_file.file.size/1024 %> KB,
                <%=paldemic_file.num_views %> Views, <%=paldemic_file.num_downloads %> Downloads,
                <%= link_to 'Edit', edit_paldemic_file_path(paldemic_file) %>
              </div>


          </div>
      </div>
    <% end %>


<br>

