
<p id="notice"><%= notice %></p>

<h1><span class = "logoName">Paldemic</span> Files</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Author</th>
      <th>Num downloads</th>
      <th>Num upvotes</th>
      <th>Num downvotes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  TODO:
  <li>style everything</li>
  <li>voting buttons</li>
  <li>simple validation for uploaded files (reject if no file)</li>
  <li>password lock destroying objects</li>
  <li>ability to sort files by total votes or downloads</li>
  <li>add db migration to add 'view count' as well and increment when sent to chat viewer </li>
  <li>filter by keywords (author, file name, etc)</li>
    <% @paldemic_files.each_with_index do |paldemic_file,index| %>
      <tr>
        <td><%=link_to("http://www.farragofiction.com/PaldemicSim?id=#{paldemic_file.id}", target:"_blank"){paldemic_file.name}%> </td>
        <td><%= paldemic_file.author %></td>
        <td><%= paldemic_file.num_upvotes %></td>
        <td><%= paldemic_file.num_downvotes %></td>
        <td><%= link_to 'Show', paldemic_file %></td>
        <td><%= link_to 'Edit', edit_paldemic_file_path(paldemic_file) %></td>
        <td><%= link_to 'Destroy', paldemic_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Paldemic File', new_paldemic_file_path %>
