<!DOCTYPE html>
<html>
  <head>
    <title>PlagueDoctor</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag asset_path('favicon.ico'), :rel => 'icon', :type => "image/x-icon" %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
      function helloWorld(){
          alert("Hello World");
      }

      function storeFile(fileString){
          var tag = "PALDEMICPREVIEWFILE";
          try{
              console.log("storing card");
              localStorage.setItem(tag,cardString);
          }catch(e){
              console.log("local storage not available for paldemic file preview storage");
          }
      }

    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
